@media only screen and (width<=320px) {
    .header{

        position: fixed;
        top:0;
        left: 0;
        width:100%;
        padding:0px 10%;
        background: #081b29;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }
    #img{

        position: relative;
        left: 500px;
        bottom: 570px;
        width: 430px;
       
      }
      #nav li{
        display: flex;
        flex-flow: row;
      }
      .home-content{

        max-width: 100%;
    }
    .container  {
        max-width: 100%;
        position: relative;
   
        }
  }
@media only screen and (300px<=width<=720px) {
    body {
   
    }
  }
  @media only screen and (721px<=width<=1080px) {
    body {
   
    }
  }